# Environnement virtuel
venv/

# wandb files
wandb/

# Trained agents_9_5
TIC_TAC_TOE_BEST_MODELS/

# IDE setup files
.idea/

agents/

# Ignorer tous les fichiers pycache
__pycache__/
*.py[cod]

gameboard_images/

defeat_games/
