# Environnement virtuel
venv/

# wandb files
wandb/

# Trained models_9_5
TIC_TAC_TOE_BEST_MODELS/

# IDE setup files
.idea/

best_models/

models/models_9_5/
models/models_9_5/wandb/

# Ignorer tous les fichiers pycache
__pycache__/
*.py[cod]

gameboard_images/

models/